@import "styles/create-user";
@import "styles/variable";
@import "styles/login";
@import "styles/search-results";
@import "styles/search-users";
@import "styles/sidebar";
@import "styles/users-profile";
@import "styles/friends";
@import "styles/friend-profile";
@import "styles/friend-requests";
@import "styles/default";


body{
    font-family: 'Roboto', sans-serif;
    background-color: $grey;
    font-size: 20px;
}

