<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Create Account</title>
</head>

<body>

<div id="create-user-form-container">
    <div th:if="${param.invalid}">Please enter a valid email address.</div>
    <div th:if="${param.exists}">There is already an account associated with the email address you entered.</div>
    <form id="create-user-form" th:action="@{/users}" method="post" th:object="${user}">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{emailAddress}">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password">
        <button class="btn-lg btn-block mt-3"  type="submit">Submit</button>
    </form>
</div>


</body>
</html>