<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="'layouts/login-create-layout'">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script th:src="@{/js/create-user.js}"></script>
    <title>Create Account</title>



</head>

<body>

<div id="create-user-form-container" layout:fragment="content" >
    <img th:src="@{/images/transparentlogo.png}"/>
    <div th:if="${param.invalid}">Please enter a valid email address.</div>
    <div th:if="${param.exists}">There is already an account associated with the email address you entered.</div>
    <form id="create-user-form" th:action="@{/users}" method="post" th:object="${user}">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{emailAddress}">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" required th:field="*{firstName}">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" required th:field="*{lastName}">
        <label for="location">Location:</label>
        <input type="text" id="location" required th:field="*{location}">
        <label for="timezone-dropdown">Select Timezone:</label>
        <select id="timezone-dropdown" th:field="*{timezone}" >
            <option th:each="timeZone : ${timeZones}" th:text="${timeZone}" th:value="${timeZone}"></option>
        </select>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password">
        <button id="submit-button" class="btn-lg btn-block mt-3"  type="submit">Submit</button>

    </form>
    <a class="my-2" th:href="@{/login}">Already have an account? Login here</a>
</div>


</body>
</html>



