<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="'layouts/default'">

<head>





</head>

<body>

<div id="friend-requests-container" layout:fragment="content" >
    <ul>
        <li th:each="friendRequest : ${friendRequests}">
            <p th:text="${friendRequest.getSender().getFirstName() + ' ' + friendRequest.getSender().getLastName()}">
            </p>
            <form id="friend-requests-form" method="post" th:action="@{/friend-requests/accept}">
             <input type="hidden" th:value="${friendRequest.getId()}" name="friendRequestId">
                <button class="btn-lg" type="submit">Accept</button></form>
            <form id="friend-requests-deny-form" method="post" th:action="@{/friend-requests/decline}">
                <input type="hidden" th:value="${friendRequest.getId()}" name="friendRequestId">
                <button class="btn-lg" type="submit">Decline</button></form>
        </li>



    </ul>

</div>


</body>
</html>



