<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layouts/default'" >
<head>
    <meta charset="UTF-8">



</head>
<body>
<div layout:fragment="content">
    <div id="friend-profile-container">
        <p th:text="${friend.getFirstName() + ' ' + friend.getLastName()}"></p>
        <p th:text="${friend.getLocation()}"></p>
        <h2 th:text="|${friend.getFirstName()}'s Posts|"></h2>
        <p class="posts" th:each="post : ${posts}" th:text="${post.getContent()  + ' ' + post.getDisplayZonedDateTime()}"></p>


    </div>
</div>

</body>
</html>
