<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layouts/default'" >
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <meta charset="UTF-8">
    <title>Login</title>


</head>
<body>

<div id="login-container" layout:fragment="content" >
    <img th:src="@{/images/transparentlogo.png}"/>
    <form id="login-form" th:action="@{/login}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button class="btn-lg btn-block mt-3"  type="submit">Login</button>
    </form>
</div>
</body>
</html>




