<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/login}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button class="btn-lg btn-block mt-3"  type="submit">Submit</button>
    </form>
</div>
</body>
</html>