<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layouts/default'" >
<head>
    <meta charset="UTF-8">
    <title>Search users</title>


</head>
<body>

<div id="search-users-container" layout:fragment="content">
    <form id="search-users-form" th:action="@{/users}" method="get">
        <label for="email">Email:</label>
        <input name="query" type="text" id="email">
        <button class="btn-lg btn-block mt-3"  type="submit">Search</button>
    </form>

</div>

</body>
</html>