<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layouts/default'" >
<head>
    <meta charset="UTF-8">
    <title>Search users</title>


</head>
<body>
<div layout:fragment="content">
<div id="search-users-container">
    <form id="search-users-form" th:action="@{/users}" method="get">
        <h1>Search by first and/or last name</h1>
        <input name="firstName" type="text" id="firstName" placeholder="First name" >
        <input name="lastName" type="text" id="lastName" placeholder="Last name">
        <button class="btn-lg btn-block mt-3"  type="submit">Search</button>
    </form>

</div>
</div>
</body>
</html>