<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layouts/default'" >
<head>
    <script th:src="@{/js/users-profile.js}"></script>
    <meta charset="UTF-8">
    <title>Users Profile</title>
</head>
<body>
<div layout:fragment="content">
<div id="users-profile-container">
    <form id="users-profile-form" th:action="@{/users/profile}" method="post">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" required name="firstName" th:value="${user.getFirstName()}">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" required name="lastName" th:value="${user.getLastName()}">
        <label for="location">Location:</label>
        <input type="text" id="location" required name="location" th:value="${user.getLocation()}">
        <select name="timezone">
            <option th:each="timeZone : ${timeZones}" th:text="${timeZone}" th:value="${timeZone}" th:selected="${timeZone == user.getTimezone()}"></option>
        </select>
        <button id="save-button" class="btn-lg btn-block"  type="submit">Save</button>
    </form>
    <form id="post-form" th:action="@{/posts}" method="post">
        <p>What's on your mind?</p>
        <textarea id="post" required name="post"></textarea>
        <button id="save-post-button" class="btn-lg btn-block"  type="submit">Share</button>
        <div class="post-display" th:each="post : ${posts}" th:attr="data-post-id=${post.getId()}">
            <p class="content" th:attr="data-post-timestamp=${post.getFormattedDate()}" th:text="${post.getContent() + ' ' + post.getFormattedDate()}"></p>
            <textarea th:text="${post.getContent()}" class="hidden edit-post-input" th:attr="data-original-value=${post.getContent()}"></textarea>
            <div class="btn-group dropright">
                <i class="dropdown-toggle fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu">
                    <a class="dropdown-item edit-button" href="#">Edit</a>
                    <a class="dropdown-item delete-button" href="#">Delete</a>
                </div>
            </div>
            <i class="fas fa-reply hidden back-button"></i>
            <i class="far fa-save hidden post-save-button"></i>
        </div>
    </form>
</div>
</div>

</body>
</html>