<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layouts/default'" >
<head>
    <script th:src="@{/js/users-profile.js}"></script>
    <meta charset="UTF-8">
    <title>Users Profile</title>
</head>
<body>
<div layout:fragment="content">
<div id="users-profile-container">
    <form id="users-profile-form" th:action="@{/users/profile}" method="post">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" required name="firstName" th:value="${user.getFirstName()}">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" required name="lastName" th:value="${user.getLastName()}">
        <label for="location">Location:</label>
        <input type="text" id="location" required name="location" th:value="${user.getLocation()}">
        <select name="timezone">
            <option th:each="timeZone : ${timeZones}" th:text="${timeZone}" th:value="${timeZone}" th:selected="${timeZone == user.getTimezone()}"></option>
        </select>
        <button id="save-button" class="btn-lg btn-block"  type="submit">Save</button>
    </form>
    <form id="post-form" th:action="@{/posts}" method="post">
        <p>What's on your mind?</p>
        <textarea type="text" id="post" required name="post"></textarea>
        <button id="save-post-button" class="btn-lg btn-block"  type="submit">Share</button>
        <h2>My posts</h2>
        <ul>
            <li th:each="post : ${posts}" th:text="${post.getContent() + ' ' + post.getDisplayZonedDateTime()}">


            </li>
        </ul>
    </form>

</div>
</div>

</body>
</html>