@import "styles/variable";


#search-results-container{
           display: flex;
           justify-content: center;
           align-items: flex-end;
           flex-direction: column;
           width: 0px;
           margin: auto;
           line-height: 2.2;


    li{
        list-style-type: none;
            padding: 0;
            display: -webkit-box;
            margin: auto;
            margin-bottom: 0;
            height: 85px;
            font-size: 20px;
    }

    p{
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            margin: auto;
            margin-bottom: 0;
            font-size: 20px;
        }
    }

#search-results-form{
        width: auto%;
        display: flex;
        flex-direction: column;

    button{
        background-color: $purple;
        color: white;
        border: 1px solid grey;
        margin-top: 0;
    }

    button:disabled{
       opacity: .5;
    }

    input{
        margin-bottom: 0px;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid grey;
    }

    label{
        margin-bottom: 0;
    }

}





