@import "styles/variable";

#sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $purple;
  overflow-x: hidden;
  padding-top: 20px;
  border: 1px solid grey;
}

a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display: block;
}

a:hover{
    color: $darkgrey;
    text-decoration: none;
}


