@import "styles/variable";

#content {
    float: right;
    width: 85%;
    height: 50%;
}

#users-profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;

    #users-profile-form{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 50%;
        align-self: flex-start;

    button{
        background-color: $purple;
        color: white;
        border: 1px solid grey;
        margin-top: 15px;
    }

    input{
        margin-bottom: .5rem;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid grey;
    }

    label{
        margin-bottom: 0;
    }
}

    #post-form{
        flex-direction: column;
        align-self: flex-start;
    }

        textarea{
            margin-bottom: .5rem;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid grey;
            resize: none;
            overflow: hidden;
            width: 300px;
            height: 80px;
        }

        button{
            background-color: $purple;
            color: white;
            border: 1px solid grey;
        }



        h2{
            font-size: 30px;
            text-align: center;
            margin-top: 1rem;
            border-bottom-style: solid;
            border-bottom-width: thin;
            justify-content: center;
            display: flex;
        }

        .post-display{
            padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            margin-bottom: 0;

            i{
            cursor: pointer;

            }

            .dropright .dropdown-toggle:empty::after{
                display: none !important;


            }

        }
}



